main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto',sans-serif;
}
.background{
    max-height: 402px;
    max-width: 900px;
    background-image: url(imgs/Design\ sem\ nome\ \(2\)\ 12.png);
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content:center ;
   box-sizing: border-box;
    
   
}
.descricao{
padding: 30px;
}

.descricao .titulo{
   color: #fff;
   margin-bottom: 11px;
   font-weight: 900px;
   font-size: 20px;
   
}
.descricao .texto{
    color: #fff;
    font-size: 15px;
}
.formulario label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.formulario{
    height: 378px;
    display: flex;
    flex-direction: column;
    width: 340px;
    margin: 20px;
    background-color: #fff;
    padding: 5px;
    gap: 5px; 
}

 .inputs{
  display: block;
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  height: 40px;
  
}

.btn{
    border-radius: 5px;
    background-color:  #3CCC87;
    height: 40px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
}
.span-required{
    font-size: 12px;
    visibility: hidden;
    color: red;    
}
.area{
    height: 100px;
}

